// libs
@import "./lib/normalize.css";
@import "./lib/slick.less";

// global: variales, mixins, etc
@import "./global/_variables.less";
@import "./global/_helpers.less";
@import "./global/_fonts.less";

body {
  font-family: "PT Sans Regular";
  font-weight: normal;
  font-style: normal;
}

img {
  height: auto;
  max-width: 100%;
}
