@header-dividers-color: #dddfdf;
@golden: #cb944c;
@search-border-color: #b9b8bd;
@medium-black: #181616;
@nav-link-color: #171717;
@violet: #2b3056;
@user-link-color: #747688;
@slider-items-bg: #d2a66b;
